body{
    background-color: #D3D3D3;
    color: #000000;
    font-family: "Times New Roman", Times, serif;
}
h1,h2,h3{
    color: #EE0000;
    font-size: 30px;
}
a:link, a:visited {
    text-decoration: underline;
    color: #CC66FF;
    background-color: transparent;
}
.title{
    border-color: #880000;
    background-color: #880000;
    color: #FFFFFF;
    font-family: "Times New Roman", Times, serif;
}
.dispari{
    border-color: #880000;
    border-collapse: collapse;
    background-color: #FFFF99;
}
.dispari{
    border-color: #880000;
    border-collapse: collapse;
    background-color: #CCCCCC;
}