body{
    background-color: #D3D3D3;
    color: #000000;
    font-family: "Times New Roman", Times, serif;
    text-align: center;
}
h1,h2,h3{
    background-color: #D3D3D3;
    color: #EE0000;
    font-size: 30px;
}
a:link, a:visited {
    text-decoration: underline;
    color: #CC66FF;
    background-color: transparent;
}
table{
    width: 100%;
}
table,tr,th{
    border-collapse: collapse;
    border: 3px solid black;
}
table .title{
    background-color: #880000;
    color: #FFFFFF;
    font-family: "Times New Roman", Times, serif;
}
tr.pari{
    background-color: #FFFF99;
    
}
tr.dispari{
    background-color: #FFFF66;
}
label {
    width:100px;
    display: inline-block;
    text-align: left;
}
input:focus { 
    border-color: crimson;
}
button{
    width: 100px;
    height: 30px;
}